* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

button {
  cursor: pointer;
}

.section1 {
  width: 1280px;
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.logo {
  font-weight: 700;
  font-size: 28px;
  color: #22262a;
}

.nav li {
  font-weight: 400;
  font-size: 18px;
  color: #22262a;
}

.nav {
  display: flex;
  column-gap: 20px;
}

.menu {
  width: 150px;
  height: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 35px;
}

.section2 {
  background: url(./images/rava.png) center/cover no-repeat;
  height: 745px;
  padding: 400px 231px 100px 800px;
}

.content {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 231px;
}
.content span {
  font-weight: 500;
  font-size: 18px;
  color: #22262a;
  margin-bottom: 18px;
}

.content h1 {
  font-weight: 700;
  font-size: 80px;
  color: #22262a;
  margin-bottom: 18px;
}

.content p {
  font-weight: 500;
  font-size: 18px;
  color: #22262a;
  margin-bottom: 27px;
}

.buttons {
  display: flex;
  column-gap: 35px;
}

.buttons button {
  width: 147px;
  height: 35px;
  background: #22262a;
  color: white;
  border: none;
}

.container {
  display: grid;
  gap: 20px;
  padding: 20px;
}
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.image {
  width: 100%;
  height: auto;
}

.photo {
  position: relative;
  padding: 121px;
  width: 1133px;
  height: 579px;
  top: 939px;
  margin-top: 121px;
  margin-right: 1000px;
  left: 100px;
}

.cards{
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.cards .card{
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  margin-right: 30px;
}

.cards .down{
  display: flex;
  column-gap: 26px;
}

.cards .man2{
  width: 552px;
  height: 574px;
  background: black;
  position: relative;
}

.cards .man2 button{
  width: 203px;
  height: 35px;
  background: #fff;
  border: none;
  position: absolute;
  left: 25px;
  bottom: 25px;
  color: #22262a;
  cursor: pointer;
}

.cards .man2 img{
  width: 552px;
  height: 574px;
  opacity: 50%;
}